<div [hidden]="hidden">
<table class="table table-stdiped">

	<thead>
    
    <tr>
		<td>Title</td>
    <td>First Publish year</td>
    <td>Number of ebooks</td>
    <td>Author</td>
  </tr>
	
  </thead>

	<tbody>
		<tr *ngFor="let item of arr | paginate: { id: 'foo',
                                                      itemsPerPage: pageSize,
                                                      currentPage: p,
                                                      totalItems: total }">

            <td>{{ item.title?item.title:'Not available' }}</td>
            <td>{{ item.first_publish_year?item.first_publish_year:'Not available' }}</td>
            <td>{{ item.ebook_count_i?item.ebook_count_i:'Not available' }}</td>
            <td>{{ item.author_name?item.author_name:'Not available' }}</td>
   
    </tr>
                                                      	

                                                  
	</tbody>
	
</table>

<pagination-controls  id="foo"              
                    [responsive]="true"
                      (pageChange)="pageChanged($event)"
                      >
</pagination-controls>
</div>






