<style>
  .my-pagination ::ng-deep .ngx-pagination .current {
    background: red;
  }
</style>

<div [hidden]="hidden">
<table class="table table-striped">

	<thead>
		<tr>
    <td>Title</td>
    <td>Number of editions</td>
    <td>First publish year</td>  
    </tr>
	</thead>

	<tbody>
		<tr *ngFor="let item of arr | paginate: { id: 'foo',
                                                      itemsPerPage: pageSize,
                                                      currentPage: p,
                                                      totalItems: total }">

            <td>{{ item.title?item.title:'Not available' }}</td>
            <td>{{ item.edition_count?item.edition_count:'Not available' }}</td>
            <td>{{ item.first_publish_year?item.first_publish_year:'Not available' }}</td>
	</tbody>
	
</table>

<pagination-controls  id="foo"
                    [responsive]="true"
                      (pageChange)="pageChanged($event)">
</pagination-controls>
</div>

