<ngx-ui-loader></ngx-ui-loader>

<div class="container-fluid p-0 m-0 overflow-hidden">

<div class="row">
<div class="col-md-auto">

<div class="d-flex flex-column flex-shrink-0 p-3 bg-light w-100 vh-100">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Open Library</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">

      <li class="nav-item">

         <form class="form-inline">
          
          <input #name class="form-control mr-sm-2 mb-2" 
          [(ngModel)]="subject_str" name="subject_str" 
           type="search" placeholder="Search" aria-label="Search" ngModel>

          <button class="btn btn-outline-success my-2 my-sm-0 mt-3 me-2"
          routerLink="/subject" 
          (click)="getSubject(subject_str)" type="submit">
            Search
          </button>

          <button class="btn btn-outline-danger my-2 my-sm-0 mt-3" type="submit" 
          id="can" routerLink="/"
          type="reset">
            Clear
          </button>
        </form>
      </li>


      <li (click)="onJava()">
        <button class="nav-link link-dark" routerLink="/subject">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home"></use></svg>
          Java
        </button>
      </li>

      <li (click)="onJS()">
        <button class="nav-link link-dark" routerLink="/subject">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          JavaScript
        </button>
      </li>

      <li (click)="onPHP()">
        <button class="nav-link link-dark" routerLink="/subject">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          PHP
        </button>
      </li>
      <li (click)="onPython()">
        <button class="nav-link link-dark" routerLink="/subject">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Python
        </button>
      </li>
    </ul>
    
  </div>

</div>

<div class="col w-100">

<div class="row">

<form class="form-inline mt-3 w-100">

  <ul style="list-style: none;">
    
    <li style="float: left;" class="me-2">
      <input class="form-control mr-sm-2 mb-2" type="search" 
      [(ngModel)]="search_str"
      name="search_str"
      placeholder="Search" aria-label="Search">
    </li>

    <li style="float: left;" class="me-2">
      <button class="btn btn-outline-success my-2 my-sm-0 mt-3" 
      (click)="getSearch(search_str)"
      routerLink="/search"
      type="submit">
        Search
      </button>
    </li>

    <li style="float: left;" class="me-2">
      <button class="btn btn-outline-danger my-2 my-sm-0 mt-3" type="reset" routerLink="/">
        Clear
    </button>
    </li>

    <li style="float: left;" class="me-2">
     <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" 
      (change)="onChange()">
      <label class="form-check-label" for="flexCheckDefault">
       Search by author
      </label>
      </div>
    </li>

    </ul>
</form>

</div>

<div class="row mt-5">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
</div>